$white: #fff;
$black: #000;
$red: #FF4C51;

$notification-back: #222;

$color-grey-dark: hsl(0, 0%, 47%);
$color-grey-dark-2: hsl(0, 0%, 60%);
$color-grey-dark-3: hsl(0, 0%, 20%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-error: #f66d9b;
$color-success: #40C3F7;
$color-warning: #F7C948;

$info: #5bccf0;

$warning: #eecb49;

$success: #5fdb62;

$danger: #ef4f5a;